<div class="card shadow-lg col-lg-10 justify-content-center" style="margin-top:140px; margin-left:80px">
    <div class="container col-xxl-7 px-5 py-5">
        <h1 class="display-2 fw-bold mb-3 text-danger">Access Denied</h1>
    </div>
</div>

