@using SocialClubApp.DAL.Enum
@using SocialClubApp.ViewModels
@model EditClubViewModel

<div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">



            <div class="card-body p-5">

              <h2 class="text-center mb-5">Edit Club</h2>

              <form method="post" asp-action="Edit" enctype="multipart/form-data">
               <input type="hidden" id="Id" name="Id" asp-for="Id" />
                <div asp-validation-summary="All" class="text-danger"></div>
                 <div class="form-outline mb-4">
                   <input asp-for="Title"class="form-control form-control-lg" />
                   <label asp-for="Title" class="form-label">Title</label>
                   <span asp-validation-for="Title" class="text-danger"></span>
                 </div>

               <div class="row form-outline mb-4">
                <div class="col">         
                    <input asp-for="City"class="form-control form-control-lg" />
                    <label asp-for="City" class="form-label">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col">
                    <input asp-for="State"class="form-control form-control-lg" />
                    <label asp-for="State" class="form-label">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
              </div>

              <div class="form-outline mb-4">
                <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control form-control-lg">
                   <option>--Select--</option>
                </select>
                <label asp-for="ClubCategory" class="form-label">Category</label>
                <span asp-validation-for="ClubCategory" class="text-danger"></span>
              </div>

              <div class="form-outline mb-4">
                  <textarea asp-for="Description" class="form-control form-control-lg" rows="2"></textarea>
                  <label asp-for="Description" class="form-label">Description</label>
                  <span asp-validation-for="Description" class="text-danger"></span>
              </div>          

              <div class="form-outline mb-4">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" type="file" class="form-control" placeholder="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
              </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block text-body btn-lg gradient-custom-4">Create</button>
                </div>

       

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>









